# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\foulder1.1\Pam\JavaTaskWeb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
